.container {
  background-color: var(--background);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3vh 2vw;
  border-radius: 10px;
  font-size: 1.7em;
  font-weight: 900;
  border: 1px solid var(--foreground);
  margin: 3rem auto;
  width: max-content;
  background-color: var(--secondary-text-clr);
  color: var(--foreground);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 5px, rgba(0, 0, 0, 0.2) 0px 3px 3px;
  background-image: linear-gradient(white, #e0e0e0);
}

.bannerText {
  text-align: center; /* Alinha o texto ao centro */
  display: flex; /* Utiliza flexbox para alinhamento */
  flex-direction: column; /* Alinha os itens em coluna */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  gap: 1vh; /* Espaçamento entre os elementos */
  margin: 1vh 0; /* Margem superior e inferior */
}

.bannerText > p {
  color: var(--danger-clr); /* Cor do texto */
}

/* Media queries para ajustar o tamanho do texto em diferentes larguras de tela */
@media (min-width: 992px) {
  .banner {
    font-size: 1.6em;
  }
}

@media (max-width: 992px) {
  .bannerText {
    margin: unset;
  }
}
@media (max-width: 768px) {
  .bannerText {
    gap: 0.5svh;
  }
}

@media (768px <= width <= 992px) {
  .banner {
    font-size: 1.3em;
  }
}

@media (480px <= width <= 768px) {
  .banner {
    font-size: 1em;
  }
}

@media (300px <= width <= 480px) {
  .banner {
    font-size: 0.75em;
    font-weight: 700;
    padding: 1vh 2vw;
  }
}

@media (max-width: 300px) {
  .banner {
    font-size: 0.65em;
    font-weight: 700;
    padding: 1vh 2vw;
  }
}