/* CallToAct.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5vh 5svw; */
}

.button {
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: var(--danger-clr);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-clr);
}

@media (max-width: 600px) {
  .container>a {
    width: 100%;
  }
  .button {
    width: 100%;
  }
}