.container {
  margin: 5svh 5svw 0rem;
  background-color: var(--background);
  color: var(--foreground);
}

.collapsible {
  position: relative; /* Necessário para a sombra interna */
  /* display: flex; */
  justify-content: center;
  justify-items: center;
  font-size: 1em;
  font-weight: 300;
  text-align: justify;  /* Adiciona justificação ao texto */
  background-color: inherit;
  color: inherit;

  display: -webkit-box;

  -webkit-line-clamp: 4; /* Mostra apenas 4 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Esconde o conteúdo que ultrapassa as 4 linhas */
  text-overflow: ellipsis;

  transition: box-shadow 0.3s ease; /* Transição suave para a sombra */
  transition: -webkit-line-clamp 10.3s ease; /* Transição suave para a linha */
}
.collapsible::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px; /* Ajuste conforme necessário */
  background: linear-gradient(to bottom, rgba(236, 236, 236, 0), rgba(236, 236, 236, 1));
  pointer-events: none; /* Permite clicar no texto através da sombra */
  transition: opacity 0.3s ease; /* Transição suave para a opacidade */
  opacity: 1; /* Sombra visível por padrão */
}
.collapsible > p {
  background-color: var(--background);
}

.collapsible.collapsed {
  -webkit-line-clamp: unset; /* Remove a limitação de linhas */
}

.collapsible.collapsed::after {
  opacity: 0; /* Esconde a sombra quando expandido */
}

.buttonCollapse {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto; /* Centraliza o botão horizontalmente */
  padding: 0px 8px;
  font-size: 0.7rem;
  font-weight: bold;
  color: #333; /* Preto claro */
  background-color: #f5f5f5; /* Branco fumaça */
  border: 1px solid #e0e0e0; /* Branco fumaça mais escuro */
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.buttonCollapse.collapsed {
  margin-top: 0.5rem; /* Espaçamento superior quando recolhido */
}
.buttonCollapse:hover {
  background-color: #e0e0e0; /* Branco fumaça mais escuro */
  color: var(--danger-clr); /* Preto */
}

.mt5vh {
  margin-top: 5vh;
}

@media (max-width: 400px) {
  font-size: 0.7em;
}