.container {
  position: absolute;
  top: 4rem;
  right: 0;
  margin: 1rem;
  background-color: var(--primary-clr);
  color: var(--foreground);
  place-items: center;
}

.socialContainer {
  display: flex;
  gap: 1.5rem;
}

.socialContainer a {
  background-color: var(--light-clr);
  padding: 0.25rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.socialContainer a svg {
  height: 1.25rem;
}

.socialContainer a::before {
  content: attr(datasocial);
  position: absolute;
  background-color: var(--social-clr);
  color: var(--light-clr);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socialContainer a:hover {
  background-color: var(--social-clr);
  fill: var(--light-clr);
}
/* .socialContainer a:hover svg {
  background-color: var(--social-clr);
  fill: var(--light-clr);
} */
.socialContainer a::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--social-clr);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socialContainer a:hover::before {
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.socialContainer a:hover::after {
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}