.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 1.5rem;
  background-color: var(--accent-clr);
  background-image: linear-gradient(10deg, var(--accent-clr) 0%, var(--secondary-clr) 50%, var(--primary-clr) 100%);
  cursor: default;
    /* background-image: url('../../public/4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; */
}

.container > h1 {
  font-weight: 600;
}
.green {
  color: var(--success-clr);
}
.white {
  color: var(--light-clr);
}
.p1 {
  padding-top: 5svh;
}
.p2 {
  margin: 0 0 5vh;
}
.mb1 {
  margin-bottom: 1vh;
}
.primaryClr {
  color: var(--primary-clr);
}
.secondaryClr {
  color: var(--secondary-clr);
}
.smallCaps {
  font-variant: small-caps;
}
.textoTachado {
  text-decoration: line-through;
  text-decoration-color: var(--accent-clr);
  text-decoration-thickness: 3px;
  text-decoration-style: solid;
  color: var(--disabled-clr);
}

.tableContainer {
  display: block;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  max-width: 1000px;
  margin: auto;
  background-color: 'transparent';
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border: 1px solid var(--secondary-text-clr);
}

.table {
  border-collapse: collapse;
  margin: auto;
  background-color: transparent;
  border-collapse: collapse;
}

.thead {
  background: var(--success-clr);
  color: var(--light-clr);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem;
  font-variant: small-caps;
}

/* .tr:nth-child(even) {
  background-color: #f2f2f2;
} */
.tr:hover {
  background-color: var(--secondary-clr);
  /* transition: transform 0.5s ease-in-out; */
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.th {
  padding: 10px 16px;
  border: 1px solid var(--secondary-text-clr);
}

.tbody {
  background: var(--primary-clr);
  overflow: hidden;
  font-size: 1rem;
  color: var(--light-clr);
  border: 1px solid var(--secondary-text-clr);
}

.td {
  border-bottom: 1px;
  white-space: normal;
  word-break: normal;
  text-align: center;
  border: 1px solid var(--secondary-text-clr);
  padding: 10px 16px;
}
.tdValue {
  text-align: center;
}

.th {
  overflow: hidden;
}

.toHide {
  display: unset;
}
.toShow {
  display: none;
}

.buttonCTA {
  display: flex;
  padding: 5svh 0;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 790px) {
  .tableContainer {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
  .container > h1 {
    font-size: 1.5rem;
  }
  .container > h2 {
    font-size: 1.17rem;
  }
  .container > h3 {
    font-size: 1rem;
  }
  .p1 {
    padding-top: 3svh;
  }
  .p2 {
    margin: 0 0 3vh;
  }
  .thead {
    font-size: 0.7rem;
    font-weight: 300;
  }
  .tbody {
    font-size: 0.6rem;
    font-weight: 300;
  }
  .td, .th {
    padding: 5px 5px;
  }
  span.toHide {
    display: none;
  }
  span.toShow {
    display: unset;
  }
  .buttonCTA {
    padding: 3svh 0 0;
    gap: 1rem;
    font-size: 0.8rem;
  }
}
